<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= favicon_link_tag asset_path('logov.png'), :rel => 'icon', :type =>  'image/png' %>    
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <div class="overflow-wrap">
      <div class="starsky">
        <div class="box">
          <div id="stars"></div>
          <div id="stars2"></div>
          <div id="stars3"></div>
        </div>

        <div id="title">
          <span>
            Hi, I'm Thomas Ferrant
          </span>
          <br/>
          <div id="typed-strings">
            <p>Let's <strong><em>build</em></strong> your future <strong><em>together</em></strong></p>
          </div>
          <span id="typed"></span>
          <div class="scroll-down"></div>
        </div>
      </div>
        <nav class="flex">
          <div class="link-wrap">
            <div class="page-link" dest="home">home</div>
            <div class="page-link" dest="about">about</div>
            <div class="page-link" dest="portfolio">portfolio</div>
            <div class="page-link" dest="contact">contact</div>
          </div>
        </nav>

      <section id="about">
        <div class="container flex">
          <div class="header waypoint animated slide-in-left" data-animation="slide-in-left">ABOUT</div>
          <div class="header-bar waypoint"></div>
        </div>

        <div class="flex row label-wrap">
        <div class="flex row-gt-sm">
        <div class="flex bullet-wrap ">
          <div class="hex-wrap waypoint" data-animation="flip-in-x">
            <div class="circle">
              <i class="material-icons">face</i>
            </div>
          </div>
          <div class="waypoint" data-animation="fade-in">
            <div class="label bold">Fast</div>
            <div>Fast load times and lag free interaction, my highest priority.</div>
          </div>
        </div>

        <div class="flex bullet-wrap " >
          <div class="hex-wrap waypoint" data-animation="flip-in-x" data-delay=".2s">
            <div class="circle">
              <i class="material-icons">face</i>
            </div>
          </div>
          <div class="waypoint" data-animation="fade-in" data-delay=".2s">
            <div class="label bold">Responsive</div>
            <div>My layouts will work on any device, big or small.</div>
          </div>
        </div>
        </div>
        <div class="flex row-gt-sm">
          <div class="flex bullet-wrap " >
            <div class="hex-wrap waypoint" data-animation="flip-in-x" data-delay=".4s">
              <div class="circle">
                <i class="material-icons">face</i>
              </div>
            </div>
            <div class="waypoint" data-animation="fade-in" data-delay=".4s">
              <div class="label bold">Intuitive</div>
              <div>Strong preference for easy to use, intuitive UX/UI.</div>
            </div>
          </div>

          <div class="flex bullet-wrap " >
            <div class="hex-wrap waypoint" data-animation="flip-in-x" data-delay=".6s">
              <div class="circle">
                <i class="material-icons">face</i>
              </div>
            </div>
            <div class="waypoint" data-animation="fade-in" data-delay=".6s">
              <div class="label bold">Dynamic</div>
              <div>Websites don't have to be static, I love making pages come to life.</div>
            </div>
          </div>
        </div>
      </div>
      </section>
    </div>

    <script>
      AOS.init();
    </script>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
